.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 20%;
  right: 20%;
  top: 5%;
  height: 100%;
  width: 60%;
  position: absolute;
}